body {
    font-family: Georgia;
    background-color: lightblue;
    
}

/*     myEvents      */
.event_container {
    width: 100%;
    background-color: #ccc;
}

.table_container {
    width: 50%;
    height: 100%;
    float: left;
}

.table_element_0 {
    background-color: beige;
}

.table_element_1 {
    background-color: white;
}

.image_container {
    margin-left: 50%;
    height: 100%;
}

#tiny_img {
    height: 30px;
    width: 30px;
    text-align: center;
    visibility: hidden;
}

#enlarged_img {
    width: 300px;
    height: 300px;
}


table, th, tr {
    border: 1px solid black;
    border-collapse:collapse;
    text-align: left;
}

/*     NAV BAR          */
.nav_bar {
    border-style: solid;
    border-color: white;
    background-color: darkblue;
    color: #f2f2f2;
    padding: 1px;
    font-size: 27px;
}

.nav_bar_link {
    margin: 25px;
}

.link {
    text-decoration: none;
    color: white;
    padding: 7px;
    margin-left: 45px;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 26px;
}

/*             myWidgets               */
.grid_container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

/* Trying to figure out how I can properly align my grid...
   Twitter link does not have the scrollbar and can't be smaller...
*/
#item1 {
    grid-row-start: 1;
    grid-row-end: 3;
}


input, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.subclear {
    width: 15%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.user_notes {
    font-size: 11px;
}

#container {
    width: 535px;
    background: #ffffff;
    padding: 20px;
    margin: 90px auto;
    border-radius: 5px;
    height: 150px;
    border: 2px solid gray;
}
#header {
    text-align: center;
    background-color: #FEFFED;
    border-radius: 5px;
    margin: -39px -20px 10px -20px;
}
h2{
    padding-top: 10px;
}
#content {
    margin-left: 57px;
    margin-top: 40px;
}
#register label{
    margin-right:5px;
}
#register input {
    padding: 5px 14px;
    border: 1px solid #d5d9da;
    box-shadow: 0 0 9px #0E34F5 inset;
    width: 272px;
    font-size: 1em;
    height: 25px;
}
#register .short{
    font-weight:bold;
    color:#FF0000;
    font-size:larger;
}
#register .weak{
    font-weight:bold;
    color:orange;
    font-size:larger;
}
#register .good{
    font-weight:bold;
    color:#2D98F3;
    font-size:larger;
}
#register .strong{
    font-weight:bold;
    color: limegreen;
    font-size:larger;
}