body {
    font-family: Georgia;
    background-color: lightblue;
    
}

/*     myEvents      */
.event_container {
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
}

.table_container {
    /*width: 50%;*/
    height: 100%;
    float: left;
    grid-column-start: 1;
}

.table_element_0 {
    background-color: beige;
}

.table_element_1 {
    background-color: white;
}

.image_container {
    /*margin-left: 50%;*/
    height: 100%;
    grid-column-start: 2;
}


tr:hover .tiny_img {
    height: 100px;
    width: 150px;
    text-align: center;
    visibility: visible;
}


.tiny_img {
    height: 0%;
    width: 0%;
    text-align: center;
    visibility: hidden;
}

#enlarged_img {
    width: 300px;
    height: 300px;
}

.centerIMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    width: 50%;
}

table, th, tr {
    border: 1px solid black;
    border-collapse:collapse;
    text-align: left;
}

/*     NAV BAR          */
.nav_bar {
    border-style: solid;
    border-color: white;
    background-color: darkblue;
    color: #f2f2f2;
    padding: 1px;
    font-size: 27px;
}

.nav_bar_link {
    margin: 25px;
}

.link {
    text-decoration: none;
    color: white;
    padding: 7px;
    margin-left: 45px;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 26px;
}

/*             myWidgets               */

#youtubeIFRAME {
    border: 0;
}

#item1 {
    grid-column-start: 1;
}

#item2 {
    grid-column-start: 2;
}

#item3 {
    grid-column-start: 1;
}

#item4 {
    grid-column-start: 2;
}

/*
.grid_container {
    display: grid;
    background-color: #2196F3;
    grid-template-columns: 50% 50%;
    padding: 10px;
}*/

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color:  rgba(255, 255, 255, 0.8);
    padding: 10px;
    grid-gap: 10px;
}


input, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.subclear {
    width: 15%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.user_notes {
    font-size: 11px;
}

#container {
    width: 535px;
    background: #ffffff;
    padding: 20px;
    margin: 90px auto;
    border-radius: 5px;
    height: 150px;
    border: 2px solid gray;
}
#header {
    text-align: center;
    background-color: #FEFFED;
    border-radius: 5px;
    margin: -39px -20px 10px -20px;
}
h2{
    padding-top: 10px;
}
#content {
    margin-left: 57px;
    margin-top: 40px;
}
#register label{
    margin-right:5px;
}
#register input {
    padding: 5px 14px;
    border: 1px solid #d5d9da;
    box-shadow: 0 0 9px #0E34F5 inset;
    width: 272px;
    font-size: 1em;
    height: 25px;
}
#register .short{
    font-weight:bold;
    color:#FF0000;
    font-size:larger;
}
#register .weak{
    font-weight:bold;
    color:orange;
    font-size:larger;
}
#register .good{
    font-weight:bold;
    color:#2D98F3;
    font-size:larger;
}
#register .strong{
    font-weight:bold;
    color: limegreen;
    font-size:larger;
}

#progressBarContainer {
    width: 100%;
    background-color: grey;
}

#progressBar {
    width: 0%;
    height: 30px;
    background-color: green;
}